#body {
    background-color: aquamarine;
    text-align: center;
    align-items: center;
    color : rebeccapurple ;
    width: 100vh;
    height: 100vh;
    font-size: 30px;
    font-weight: bold;
}
#body button {
    font-style : italic;
}
body {
    background-color: aquamarine;
}